.locationCont {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    color: #888;
    line-height: 35px;
    overflow: hidden;
}
.locationCont h1 {
    margin: 0px;
    white-space: nowrap;
}
.weatherLocationCont {
    width: calc (100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    min-width: 350px;
    box-sizing: border-box;
    padding: 25px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
