.locationList {
    background: #f1f1f1;
    height: 85vh;
    overflow: auto;
}
.forecastTitle {
    color: #777;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contentCenter {
    text-align: center;
}
@media (max-width: 64em) {
    .locationList {
        background: #e1e1e1;
        max-height: 40vh;
        margin-bottom: 20px;
    }
}
