.App {
    text-align: center;
}
.details {
    background: #e9e9e9;
    height: 85vh;
    width: calc(100% - 40px);
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 64em) {
    .details {
        height: 40vh;
    }
}
